@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Teko:wght@300&display=swap');
html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}
body{
    background-color: black;
    height: 302vh;
}
/* Меню */
.skew-menu{
    width: 100%;
    text-align: center;
    animation: skew__navbar 0.2s linear forwards;
    display: flex;
    position: fixed;
    top: 10px;
    z-index: 5;
    justify-content: center;
}
.skew__menu__container ul{
    justify-content: center;
    display: flex;
    list-style: none;
    transform: skewX(-25deg);
    flex-wrap: nowrap;
}
.skew-menu ul li:first-child{
      border-radius: 8px 0 0 8px;
      border-left: #8CF4FF 4px solid;
      border-bottom:#8CF4FF 4px solid ;
      box-shadow: #24272a 0 0 10px;
  }
.skew-menu ul li:last-child{
      border-radius: 0 8px 8px 0;
      border-right: #8CF4FF 4px solid;
      border-bottom:#8CF4FF 4px solid ;
      box-shadow: #24272a 0 0 10px;
  }
.skew-menu ul li:nth-child(3):hover{
    border-bottom: #8CF4FF 4px solid;
}
.skew-menu ul li:nth-child(2){
    border-bottom: #4c5862  4px solid;
}
.skew-menu ul li:nth-child(2):hover{
    border-bottom: #8CF4FF 4px solid;
}
  .skew-menu ul li {
    font-weight: 700;
    font-size: 16px;
    margin-right: 5px;
    letter-spacing: 2px;
    background: transparent;
    float: left;
    text-transform: uppercase;
    color: rgb(160, 158, 158);
    background-color: #24272a;
  }
  .skew-menu ul li:hover{
      background-color: #3C464F;
      color: #8CF4FF;
  }
  .skew-menu ul li a {
      display: block;
      padding: 20px 30px;
      color: inherit;
      text-decoration: none;
      transform: skew(25deg);
} 
@keyframes skew__navbar{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
/* Скроллбар */
::-webkit-scrollbar {
    width: 12px;
  }
::-webkit-scrollbar-track {
    background: black;
  }
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, transparent,#f55200);
    box-shadow:  0 0 30px black;
    border-radius:7px;
  }
/* section 1 */
.back__body{
    filter: brightness(80%);
}
.space__x{
    width: 100%;
    margin-bottom: 1vh;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/mars__back__section2.jpg);
    background-position: center;
}
section .main{
    display: flex;
    align-items: center;
    height: 70vh;
    width: 100%;
    background-image: url(https://static.timesofisrael.com/www/uploads/2021/05/AP21122292306558.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__controller{
    display: flex;
    height: 50vh;
    width: 100%;
    color: white;
    background-color: rgba(60,70,79,0.7);
}
.main__left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.main__right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-size: 2em;
}
/* section 2 */
.space__x__2{
    margin-bottom: 1vh;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/mars__back__section3.jpg);
    background-position: center;
}
.main__two{
    width: 70%;
    height: 70vh;
}
.main__two .main__controller{
    width: 100%;
    height: 100%;
}
/* section 3 */
.space__x__3{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/mars__back__section4.jpg);
    background-position: center;
}
.main__third{
    width: 100%;
    height: 70vh;
    background-image: url(../img/dragoncrew.8k.jpg);
    display: flex;
    align-items: center;
    background-size: cover;
}



/* BURGER!!! */
#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 40px;
    height: 40px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #8CF4FF;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: rgba(49, 49, 49, 0.8);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #CFD8DC;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #233335;
  }
  .hamburger-menu{
    z-index: 999;
    position: absolute;
  }


@media screen{
    @media(min-width: 768px){
        .main__left h1{
            font-size: 12em;
        }
        .hamburger-menu{
            display: none;
        }
    }
    @media(max-width: 768px){
        .main__left h1{
            font-size: 8em;
        }
        .main__right{
            font-size: 1.5rem;
        }
        /* NAVBaR */
        .skew-menu ul li {
            font-size: 15px; 
          }
        .skew-menu ul li a {
            padding: 16px 24px;
      } 
      .hamburger-menu{
        display: none;
    }
    }
    @media(max-width: 580px){
        .hamburger-menu{
            display: none;
        }
        .skew-menu ul li {
            font-size: 14px; 
          }
        .skew-menu ul li a {
            padding: 16px 18px;
      }
    }
    @media(max-width: 480px){
        .hamburger-menu{
            display: block;
        }
        nav.skew-menu{
            display: none;
        }
        .main__two{
            width: 100%;
        }
    }
}
/* preload ***************************************/
.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  justify-content: center;
  align-items: center;
  display: flex;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotate 2.5s linear infinite;
}
.circle2 {
  box-shadow: 0px 5px 5px 3px #ff6004;
}
@keyframes rotate {
  100%{
      transform: rotate(360deg);
  }
}
/* когда preload кончит */
.done{
  opacity: 0;
  visibility: hidden;
}